<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body>

    <header>
        <h1 id="titulo">Error page not found </h1>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@100&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        
        
    </header>

    <section class="container">
        <article class="post"> 
            
            <p>usted acaba de hacer una solicitud y esta no fue encontrada </p>

            
            
        </article>

        <button class="btn btn-outline-primary" (click)="regresar()">Regresar a la página principal</button>
        
    </section>

</body>
</html>